#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/imagens/BackgroundL_S.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.musica {
    position: relative;
}




#youtube-iframe {
    z-index: 1;
    opacity: 1; /* Define a opacidade do iframe */
    width: 250px;
    height: 250px;
    border-radius: 80%;
    border: var(--corlaranja) solid 2px;
    box-shadow: var(--corroxa) 0px 0px 10px;
}


