#home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('/imagens/ap.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 130vh;
}


#logohome {
    width: 300px;
}

#youtube-iframe {
    z-index: 1;
    opacity: 1;
    /* Define a opacidade do iframe */
    width: auto;
    height: 330px;
    border-radius: 4px;
    border: var(--corlaranja) solid 2px;
    box-shadow: var(--corroxa) 0px 0px 10px;
}