.navbar {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    background-color: var(--corpreto);
    width: 88%;
    margin-inline: auto;
    padding: 1rem 1.75rem;
    border-radius: 4rem;
    z-index: 10;
    font-size: 1rem;
}

.navlist {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink {
    color: var(--corbranco);
    font-weight: lighter;
    text-decoration: none;
}

.navlink:hover {
    color: rgb(185, 185, 185);
}

.disco i {
    animation: girar 2s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.sombra {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: mudar-cor 2.6s infinite alternate;
}

@keyframes mudar-cor {
    0% {
        box-shadow: 0 0 20px #FF6102;
    }

    20% {
        box-shadow: 0 0 20px #EF2402;
    }

    40% {
        box-shadow: 0 0 20px #B7021C;
    }

    60% {
        box-shadow: 0 0 20px #8F0253;
    }

    80% {
        box-shadow: 0 0 20px #61029C;
    }

    100% {
        box-shadow: 0 0 20px #330068;
    }
}


.navlink i span {
    padding: 2px;
    display: flex;
    text-align: center;
    font-size: 0.25rem;
    justify-content: center;
}