* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

div {
    padding: 10px;
}

img {
    width: 40vh;
    width: 40vh;
}

h1 {
    margin: 4px;
    text-align: center;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    text-align: center;
}

h3 {
    font-size: 1rem;
    margin: 8px;
    text-align: center;
}

a {
    font-size: 1rem;
    margin: 8px;
}

p {
    margin: 4px;
    font-size: 1.2rem;
    color: #cccccc;
}